@import "styles/defs";

.mgContainer {
  position: relative;
}
.mgContainerBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 900px) {
    flex-direction: column-reverse;
  }
}
.mgInfoBlock {
  width: 448px;
  color: $main-color;
  h2{
    font-size: 42px;
    text-align: left;
    font-weight: bold;
  }
  .mgContainerText{
    p {
      margin: 20px 0;
    }
  }

}
.mgImg{
  width: 100%;
  img{
    width: 95%;
  }
}

.btnPlay {
  width: 100px;
}
