.playBtn {
  width: 100%;
  background: url("../../images/play_btn.png"), linear-gradient(0deg, #FF9C00 28.99%, #FF9C00 39.19%, #FFBC00 58.32%, #FFCB00 99.59%);
  background-size: 100% 100%;
  border: 2px solid #6b4833;
  position: relative;
  padding: 5px 15px;
  min-width: 120px;
  font-size: 14px;
}
