.useful_link_wrapper {
    background: url("../../images/landing/back_decor/back_2.jpg");
    background-size: cover;
}

.useful_link_list {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    min-height: 777px;
    align-items: center;
    justify-content: center;
}

.useful_link_item {
    margin: 74px;
    max-width: 396px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.useful_link_item_img {
    width: 100%;
}

.useful_link_item_title {
    min-height: 64px;
    margin-bottom: 22px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.play_btn {
    text-align: center;
}
